/* モーダル全体 */
.modal-overlay {
    position: fixed;
    inset: 0;
    background: var(--dark75-color);
    padding: var(--space4);

    display: none;
    align-items: center;
    justify-content: center;

    z-index: 1000;

    /* ここで裏側をぼかす */
    backdrop-filter: blur(var(--space1));
    -webkit-backdrop-filter: blur(var(--space1));
}

/* 表示時 */
.modal-overlay.active {
    display: flex;
}

/* モーダル本体 */
.modal-content {
    position: relative;
    background: var(--bg-color);
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    transform: scale(0.8); /* 初期は少し小さい */
    opacity: 0;
    transition: transform var(--move-anim-time) ease, opacity var(--move-anim-time) ease;
}

.modal-content.active {
    transform: scale(1);
    opacity: 1;
}

/* タイトル */
.modal-title {
    font-size: var(--space3);
    margin: var(--space2);
    font-weight: bold;
    text-align: center;
    flex-shrink: 0;
}

/* メイン領域 */
.modal-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0px var(--space4) var(--space4);
    gap: var(--space4);
    overflow-y: auto;
    flex-grow: 1; 
}

@media (max-width: 768px) {
    .modal-main {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }
}

/* #region CloseButton */

.close-button-wrapper {
    position: absolute;
    top: 0;
    right: 0;

    /* 中心を右上角に一致させる */
    transform: translate(50%, -50%);
}

.close-button {
    width: var(--space6);
    height: var(--space6);
}

.icon.close {
    width: 75%;
    height: 75%;
    margin: auto;
    display: block;
}

/* #endregion */

body.modal-open {
    overflow: hidden;
}